{% extends ":default:test.html.twig" %}


{% block title %}Evenements{% endblock %}
{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important { color: #336699; }

    </style>
{% endblock %}
{% block content %}
    <div class="big-div">
        <h1>Bienvenue dans l'interface de gestion des évenements </h1>
    </div>
    <br>


    <div class="gallery" id="gallery">
        <div class="container">
            <div class="about-head text-center ">
                <h3>La galerie des évènements</h3>
            </div>
            <div class="gallery-info">
                {% for evt in evts %}
                <div class="col-md-3 gallery-grids">
                    <a href="{{ path('_afficher_un_event',{'id': evt.id}) }}"  >
                    <img src="{{ asset('uploads/images/' ~ evt.image) }}" alt="" class="img-responsive zoom-img">
                        {{ evt.titreE }}
                    </a>
                </div>
               {% endfor %}
                <div class="clearfix"> </div>
            </div>
            <script src="{{ asset('js/lightbox-plus-jquery.min.js') }}"></script>
        </div>
    </div>







    <center>





        <h1>Que voulez-vous faire?</h1><br>
        <a href={{ path('_ajouter_events')}} > Ajouter un évenement </a><br><br>
        <a href={{ path('_afficher_events')}} > Afficher les évenements disponibles </a><br><br>
        <a href={{ path('_afficher_tri_events')}} > Afficher les évenements disponibles triés par date </a><br><br>
        <a href={{ path('_rechercher_events_nom')}} > Rechercher un évenement par nom </a><br><br>
        <a href={{ path('_rechercher_events_date')}} > Rechercher un évenement par date </a><br><br>
        <a href={{ path('_rechercher_events_club')}} > Rechercher un évenement par club </a><br><br>
        {% if is_granted('ROLE_RESPONSABLE_SUPER_ADMIN')
        or is_granted('ROLE_ADMIN')
        or is_granted('ROLE_SUPER_ADMIN') %}
            <a href={{ path('_traiter_prop_events')}} > Traiter les propositions d'évenement </a><br><br>
        {% endif %}
    </center>
    <p class="important">

    </p>
{% endblock %}