{% extends ":default:test.html.twig" %}


{% block title %}Evenements{% endblock %}
{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important { color: #336699; }

    </style>
{% endblock %}
{% block content %}
    <div class="big-div">
        <h1>Liste des évènements</h1>
    </div>
    <center>
        <br>
        <br>
        <br>


        <div class="row">
            <div class="col-xs-12">
                <h3 class="header smaller lighter blue">Evenements</h3>

                <div class="clearfix">
                    <div class="pull-right tableTools-container"></div>
                </div>
                <div class="table-header">
                    Derniers évenements
                </div>

                <!-- div.table-responsive -->
                <table class="table table table-striped table-bordered table-hover" id="editable-sample">
                    <thead>
                    <tr>
                        <th> Image </th>
                        <th> Titre </th>
                        <th> Description </th>
                        <th> Date </th>
                        <th> Type </th>
                        <th> Modifier </th>
                        <th> Supprimer </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for evt in evts %}
                        <tr>
                            <td> <img src="{{ asset('uploads/images/' ~ evt.image) }}" height="100px" width="250px"> </td>
                            <td>{{ evt.titreE }}</td>
                            <td>{{ evt.descE }}</td>
                            <td>{{ evt.dateE | date('d-m-y H:i') }}</td>
                            <td>{{ evt.typeE }}</td>
                            <td><a class="edit" href="javascript:;">Modifier</a></td>
                            <td><a class="delete" href="javascript:;">Supprimer</a></td>

                        </tr>
                    {% endfor %}


                    </tbody>
                </table>
                <!-- div.dataTables_borderWrap -->
            </div>
        </div>




        <span style="alignment: right"></span>
        <script src="{{ asset('js/jquery-1.10.2.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>

        <script src="{{ asset('js/jquery-ui-1.9.2.custom.min.js') }}"></script>
        <script src="{{ asset('js/jquery-migrate-1.2.1.min.js') }}"></script>

        <!--data table-->
        <script type="text/javascript" src="{{ asset('js/data-tables/jquery.dataTables.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/data-tables/DT_bootstrap.js') }}"></script>

        <!--script for editable table-->
        <script src="{{ asset('js/editable-table.js') }}"></script>
        <script>
            jQuery(document).ready(function() {
                EditableTable.init();
            });
        </script>
        <link rel="stylesheet" href="{{ asset('js/data-tables/DT_bootstrap.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/style-table.css') }}" />
        <br>
        <br>
        <br>

    </center>
    <p class="important">

    </p>
{% endblock %}