{% extends ":default:test.html.twig" %}


{% block title %}Evenements{% endblock %}
{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important { color: #336699; }

    </style>
{% endblock %}
{% block content %}
    <div class="big-div">
        <h1>Modifier un évèenement</h1>
    </div>
    <div>
        <center>
            {{ form_start(form) }}
            <table class="table">
                <tr>
                    <th> Titre </th>
                    <td>{{ form_widget(form.titreE) }}</td>
                </tr>
                <tr>
                    <th> Description </th>
                    <td>{{ form_widget(form.descE) }}</td>
                </tr>
                <tr>
                    <th> Date </th>
                    <td>{{ form_widget(form.dateE) }}</td>
                </tr>
                <tr>
                    <th> Type </th>
                    <td>{{ form_widget(form.typeE) }}</td>
                </tr>
                <tr>
                    <th> Image (JPEG) </th>
                    <td>{{ form_row(form.image) }}</td>
                </tr>
            </table>
            {{ form_end(form) }}
        </center>
    </div>

    <p class="important">

    </p>
{% endblock %}