{% extends ":default:test.html.twig" %}


{% block title %}Evenements{% endblock %}
{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important { color: #336699; }

    </style>
{% endblock %}
{% block content %}
    <div class="big-div">
        <h1>Recherche d'un évènement par nom </h1>
    </div>
    <br>
    <br>
    <center>
        {{ form_start(form) }}
        <table class="table">
            <tr>
                <th> Nom </th>
                <td>{{ form_widget(form.titreE) }}</td>
            </tr>

        </table>
        {{ form_end(form) }}
        <br>
        <br>
        <table class="table">
            <tr>
                <th> Image </th>
                <th> Titre </th>
                <th> Description </th>
                <th> Date </th>
                <th> Type </th>
                <th>  </th>
            </tr>
            {% for evt in evts %}
                <tr>
                    <td> <img src="{{ asset('uploads/images/' ~ evt.image) }}" height="100px" width="250px"> </td>
                    <td>{{ evt.titreE }}</td>
                    <td>{{ evt.descE }}</td>
                    <td>{{ evt.dateE | date('d-m-y H:i') }}</td>
                    <td>{{ evt.typeE }}</td>

                    <td><A HREF="{{ path('_supprimer_events',{'id': evt.id }) }}" > Supprimer </A></td>
                    <td><A HREF="{{ path('_modifier_events',{'id':evt.id }) }}" > Modifier </A></td>
                </tr>
            {% endfor %}
        </table>
    </center>
    <p class="important">

    </p>
{% endblock %}